@page "/"
@using NetworkEdition.ViewModels
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_networks == null)
{
    <span>Loading...</span>
}
else
{
    <div class="container">
        <div class="row row-cols-2">
            @foreach (var (id, name, _) in _networks)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Network
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@name</h5>
                            <button @onclick="() => Open(id)" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("Backend");
        _networks = await client.GetFromJsonAsync<IEnumerable<Network>>("List");

        await base.OnInitializedAsync();
    }

    private IEnumerable<Network> _networks;

    private void Open(Guid id)
    {
        NavigationManager.NavigateTo($"Edit/{id}");
    }

}